<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootwebsocketstomprabbitmq.dao.MessageinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootwebsocketstomprabbitmq.entity.Messageinfo">
        <id column="ID" property="id" />
        <result column="USERFROM" property="userfrom" />
        <result column="USERTO" property="userto" />
        <result column="CONTENT" property="content" />
        <result column="CREATETIME" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USERFROM, USERTO, CONTEXT, CREATETIME
    </sql>

</mapper>
